<% layout(_view.get('_layout/main')) %>

<header class="main-header">
    <nav class="navbar-super navbar navbar-dark">
        <%- include(_view.get('_part/nav/logo')) %>
    </nav>
    <nav class="navbar navbar-expand-md navbar-dark">

        <%- include(_view.get('_part/nav/logo')) %>
        <%- include(_view.get('_part/nav/commonMenu')) %>

        <div class="ms-auto"></div>

        <%- _view.placeWidget('notifications') %>
        <%- include(_view.get('_part/nav/user')) %>
        <%- include(_view.get('_part/nav/language')) %>
    </nav>
</header>

<section class="main-content">
    <div class="main-container container">

        <%- include(_view.get('_part/misc/alert')) %>

        <%- body %>

    </div>
</section>

<div class="global-loader overlay">
    <i class="fa fa-spinner fa-spin"></i>
</div>

<%- include(_view.get('_part/misc/footer')) %>